<header>
<div class="container">
<h1 class="logo"><a routerLink="/">myWebsite</a></h1>

<nav>
  <ul>
    <li><a routerLink="/about-me" routerLinkActive="activated">About me</a></li>
    <li><a routerLink="/projects" routerLinkActive="activated" >Projects</a></li>
    <li><a routerLink="/create-project" routerLinkActive="activated" >Create projects</a></li>
    <li><a routerLink="/contact" routerLinkActive="activated">Contact</a></li>
  </ul>
</nav>
</div>
</header>

<section id="content">
<router-outlet></router-outlet>
</section>

<footer>
  <p>Diego Villarín Castro, développeur web</p>
</footer>